<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block meta_title %}GHstats{% endblock meta_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/_assets/style.css">
    {% block meta_tags %}
    {% endblock meta_tags %}
  </head>

  <body>
    <main>
      <header>
        <h1>{{ title }}</h1>
        <p>Graphs of issue and pull request data and more!</p>
      </header>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <p>
      <b>© <a href="{{ author.link }}">{{ author.name }}</a></b>
      • Made with @ichard26's <a href="https://github.com/ichard26/ghstats">GHstats</a>
      </p>
    </footer>
  </body>

</html>

