{% extends "base.html" %}

{% block meta_tags %}
<script type="module">
{% include "repository.js" +%}
</script>
{% endblock meta_tags %}

{% block meta_title %}{{ repo.fullname }} - GHstats{% endblock meta_title %}

{% macro view_section(repo, view, desc) %}
<section class="data-view-section" id="{{ view }}-chart-section">
  <h2>{{ repo.fullname }} {{ desc }}</h2>
  <div class="chart-div-container">
    <canvas></canvas>
  </div>
</section>
{% endmacro %}

{% block content %}
<p><b><a href="../">Return to repository menu</a></b></p>
<h2><strong>[Chart guide]</strong></h2>
<ul class="guide-list">
  <li><strong>click & drag</strong> -> moves the chart</li>
  <li><strong>ctrl + click & drag</strong> -> select area to zoom in</li>
  <li><strong>double click</strong> -> resets the chart</li>
  <li><strong>click legend items</strong> -> disable/enable datasets</li>
</ul>
{% if "issue-counts" in views %} {{ view_section(repo, "issue-counts", "issues") }} {% endif %}
{% if "pull-counts" in views %} {{ view_section(repo, "pull-counts", "pull requests") }} {% endif %}
{% if "issue-deltas" in views %} {{ view_section(repo, "issue-deltas", "issue deltas") }} {% endif %}
{% if "issue-closers" in views %} {{ view_section(repo, "issue-closers", "issue closers") }} {% endif %}
{% endblock content %}
