name: Refresh assets

on:
  schedule:
    - cron: 0 15 * * *
  repository_dispatch:
    types: [force-update]
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v3
        with:
          path: src

      - name: Checkout production branch
        uses: actions/checkout@v3
        with:
          path: prod
          ref: "production"

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Build website with Vite
        working-directory: src
        run: |
          python -m pip install attrs click
          npm ci
          npm run build -- --base "$(python -m scripts.ghstats base-path)"

      - name: Copy website over to production
        working-directory: src
        run: |
          mkdir prod-backup
          cp ../prod/data/ ../prod/.git/ prod-backup -r
          rm ../prod/* -r
          cp prod-backup/* scripts/ noxfile.py ../prod -r
          cp web/dist/* ../prod -r
          touch ../prod/.nojekyll

      - name: Refresh data assets
        working-directory: src
        env:
          GITHUB_API_KEY: ${{ github.token }}
        run: |
          python -m pip install nox
          python -m nox -s refresh-data --force-color -- ../prod/data/

      - name: Commit & push changes
        working-directory: prod
        continue-on-error: true
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "[ci] refresh assets"
          git push
